/* GLOBAL STYLES */

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  background: #9575CD;
  color: #FFFFFF;
}

.container{
  margin: 0 auto;
  max-width: 20em;
}

/* HEADER */
header {
  padding: 20px 0 10px 0;
  background: #4527A0;
  text-align: center;
}


.header__title {
  margin: 0;
  padding-bottom: 0;
  font-size: 3.49rem;
  font-weight: 300;
}

/* MAIN SECTION */
main {
  padding-top: 30px;
}

/* Input and "add" button */
.submission-line__input {
  padding-left: 10px;
  box-sizing: border-box;
  height: 44px;
  width: 100%;
  border: none;
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.3rem;

}

.submission-line__input::placeholder {
  color: rgba(0, 0, 0, 0.38);
}

.submission-line__input:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
}

.submission-line__btn {
 /* float: right;*/
  height: 46px;
  width: 100%;
  background: #FFC107;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
  border: none;
  font-size: 1.3rem;
  color: #fff;
}

.submission-line__input,
.submission-line__btn {
  margin-bottom: 16px;
}

.save {
  background: #4CAF50;
}

/* List, list items, and list item buttons */

.list {
  padding: 0;
  list-style-type: none;
  clear: both;
}

.list__item {
  font-size: 1.3rem;
  width: 300px;
  height: 30px;
  padding: 10px;
  text-align: center;
}

.list__item:nth-child(odd) {
  background: #673AB7;
}

.list__item:nth-child(even) {
  background: #4527A0;
}

.list__delete-btn {
  cursor: pointer;
  float: left;
  margin-left: -5px;
  padding: 5px 9px;
}

.list__check-btn {
  cursor: pointer;
  float: right;
  margin: -5px;
  padding: 4px 8px;
}


.ingredient {
  float: left;
  margin-left: 2em;
}

.right-side {
  float: right;
  margin-right: 1em;
  text-overflow: clip;
  overflow-x: clip;
  max-width: 50%;
  text-overflow: clip;
}








.flex-container{
  display: flex;
  flex-wrap: wrap;
}

.box{
  flex: 0 0 calc(100% - 10px);
  margin: 5px;
  background: #E9D2FF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:after{
  content: '';
  display: block;
  padding-bottom: 100%;
}

.box2{background: #AC71D0;}
.box3{background: #38A899;}
.box4{background: #A6D98C;}
.box5{background: #bada55;}


@media only screen and (min-width: 992px) {
  .box{
    flex: 0 0 calc(25% - 10px);
  }
}